@charset "utf-8";

html {
  font-size: 100%;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;

  p {
    font-size: 1rem;
    color: #F5A2CB;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;

    @media(max-width:500px) {
      font-size: 1.5rem;
    }
  }
}